!!! 5
%html{html_attrs}
  %head
    %title= @title
    = stylesheet_link_tag("/stylesheets/stylesheet.css")
    = javascript_include_tag("http://code.jquery.com/jquery-1.5.min.js", "/javascripts/modernizr-1.6.min.js", "/javascripts/application.js")
  %body
    .container
      = yield