!!! 5
%html
  %head
    %title Serve Bootstrap
    %link{:href => "stylesheets/application.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    / jQuery 1.4.4 (Gzipped)
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.4.4.min.js"}
    / jQuery 1.5 (Gzipped)
    / %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.5.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/modernizr-1.6.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/application.js"}
  %body
    .grid-container
      .grid-12.grid-prefix-6.grid-suffix-6
        = yield