- @title = "Serve Bootstrap"

.content
  %h1= @title

  :markdown
    This is [serve bootstrap](https://github.com/adamstac/serve-bootstrap), a bootstrap project to do rapid design protyping using:
  
    * [Haml](http://haml-lang.com/)
    * [Sass](http://sass-lang.com/)
    * [Compass](http://beta.compass-style.org/)
    * [jQuery](http://jquery.com/)
    * [@media queries](http://www.w3.org/TR/css3-mediaqueries/) for [responsive web design](http://www.alistapart.com/articles/responsive-web-design/)
  
%p.last
  = link_to "Fork this project on GitHub!", "https://github.com/adamstac/serve-bootstrap"