- @title = "Serve Bootstrap"

.content
  %h1= @title

  :markdown
    Serve bootstrap is a "bootstrapping" project for [Serve](https://github.com/jlong/serve) to do rapid design protyping using:
  
    * [Haml](http://haml-lang.com/)
    * [Sass](http://sass-lang.com/)
    * [Compass](http://compass-style.org/)
    * [jQuery](http://jquery.com/)
    
    [Fork this project on GitHub!](https://github.com/adamstac/serve-bootstrap)