@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.font-helvetica, body {
  font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: times, "Times New Roman", Georgia, sans-serif;
}

.font-georgia {
  font-family: Georgia, times, "Times New Roman", sans-serif;
}

a {
  color: green;
  text-decoration: none;
}
a:hover {
  color: #00b300;
  text-decoration: underline;
}
a:focus, a:active {
  outline: none;
}

a:hover, a:active {
  outline: none;
}

ul, ol {
  margin-left: 2em;
}

ol {
  list-style-type: decimal;
}

nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td {
  vertical-align: top;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

textarea {
  overflow: auto;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

label {
  cursor: pointer;
}

input[type="button"], input[type="submit"], input[type="image"] {
  cursor: pointer;
}

button {
  cursor: pointer;
  margin: 0;
}

input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: red 0px 0px 5px 0;
  -webkit-box-shadow: red 0px 0px 5px 0;
  -o-box-shadow: red 0px 0px 5px 0;
  box-shadow: red 0px 0px 5px 0;
}

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #ffd6d6;
}

a:link {
  -webkit-tap-highlight-color: #59bef2;
}

button {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

body, select, input, textarea {
  color: #444444;
  font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.ir, .image-replacement {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visuallyhidden, .visually-hidden, .vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .focusable.visually-hidden:active, .focusable.vh:active, .visuallyhidden.focusable:focus, .focusable.visually-hidden:focus, .focusable.vh:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.grid-pie-clearfix, .grid-container, .container, .nested-grid-container, .grid-block, .grid-full, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .container .content, p.last, .grid-17, .grid-18, .grid-19, .grid-20, .grid-21, .grid-22, .grid-23, .grid-24 {
  *zoom: 1;
}
.grid-pie-clearfix:after, .grid-container:after, .container:after, .nested-grid-container:after, .grid-block:after, .grid-full:after, .grid-1:after, .grid-2:after, .grid-3:after, .grid-4:after, .grid-5:after, .grid-6:after, .grid-7:after, .grid-8:after, .grid-9:after, .grid-10:after, .grid-11:after, .grid-12:after, .grid-13:after, .grid-14:after, .grid-15:after, .grid-16:after, .container .content:after, p.last:after, .grid-17:after, .grid-18:after, .grid-19:after, .grid-20:after, .grid-21:after, .grid-22:after, .grid-23:after, .grid-24:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.grid-container, .container {
  margin: 0 auto;
  width: 960px;
}

.nested-grid-container {
  display: inline-block;
  margin-left: -5px;
  margin-right: -5px;
  width: auto;
}

.grid-block, .grid-full, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .container .content, p.last, .grid-17, .grid-18, .grid-19, .grid-20, .grid-21, .grid-22, .grid-23, .grid-24 {
  display: inline;
  float: left;
  position: relative;
  margin: 0 5px;
}

.grid-full {
  width: 950px;
}

.grid-1 {
  width: 30px;
}

.grid-2 {
  width: 70px;
}

.grid-3 {
  width: 110px;
}

.grid-4 {
  width: 150px;
}

.grid-5 {
  width: 190px;
}

.grid-6 {
  width: 230px;
}

.grid-7 {
  width: 270px;
}

.grid-8 {
  width: 310px;
}

.grid-9 {
  width: 350px;
}

.grid-10 {
  width: 390px;
}

.grid-11 {
  width: 430px;
}

.grid-12 {
  width: 470px;
}

.grid-13 {
  width: 510px;
}

.grid-14 {
  width: 550px;
}

.grid-15 {
  width: 590px;
}

.grid-16, .container .content, p.last {
  width: 630px;
}

.grid-17 {
  width: 670px;
}

.grid-18 {
  width: 710px;
}

.grid-19 {
  width: 750px;
}

.grid-20 {
  width: 790px;
}

.grid-21 {
  width: 830px;
}

.grid-22 {
  width: 870px;
}

.grid-23 {
  width: 910px;
}

.grid-24 {
  width: 950px;
}

.grid-prefix-1 {
  padding-left: 40px;
}

.grid-prefix-2 {
  padding-left: 80px;
}

.grid-prefix-3 {
  padding-left: 120px;
}

.grid-prefix-4, .container .content, p.last {
  padding-left: 160px;
}

.grid-prefix-5 {
  padding-left: 200px;
}

.grid-prefix-6 {
  padding-left: 240px;
}

.grid-prefix-7 {
  padding-left: 280px;
}

.grid-prefix-8 {
  padding-left: 320px;
}

.grid-prefix-9 {
  padding-left: 360px;
}

.grid-prefix-10 {
  padding-left: 400px;
}

.grid-prefix-11 {
  padding-left: 440px;
}

.grid-prefix-12 {
  padding-left: 480px;
}

.grid-prefix-13 {
  padding-left: 520px;
}

.grid-prefix-14 {
  padding-left: 560px;
}

.grid-prefix-15 {
  padding-left: 600px;
}

.grid-prefix-16 {
  padding-left: 640px;
}

.grid-prefix-17 {
  padding-left: 680px;
}

.grid-prefix-18 {
  padding-left: 720px;
}

.grid-prefix-19 {
  padding-left: 760px;
}

.grid-prefix-20 {
  padding-left: 800px;
}

.grid-prefix-21 {
  padding-left: 840px;
}

.grid-prefix-22 {
  padding-left: 880px;
}

.grid-prefix-23 {
  padding-left: 920px;
}

.grid-suffix-1 {
  padding-right: 40px;
}

.grid-suffix-2 {
  padding-right: 80px;
}

.grid-suffix-3 {
  padding-right: 120px;
}

.grid-suffix-4, .container .content, p.last {
  padding-right: 160px;
}

.grid-suffix-5 {
  padding-right: 200px;
}

.grid-suffix-6 {
  padding-right: 240px;
}

.grid-suffix-7 {
  padding-right: 280px;
}

.grid-suffix-8 {
  padding-right: 320px;
}

.grid-suffix-9 {
  padding-right: 360px;
}

.grid-suffix-10 {
  padding-right: 400px;
}

.grid-suffix-11 {
  padding-right: 440px;
}

.grid-suffix-12 {
  padding-right: 480px;
}

.grid-suffix-13 {
  padding-right: 520px;
}

.grid-suffix-14 {
  padding-right: 560px;
}

.grid-suffix-15 {
  padding-right: 600px;
}

.grid-suffix-16 {
  padding-right: 640px;
}

.grid-suffix-17 {
  padding-right: 680px;
}

.grid-suffix-18 {
  padding-right: 720px;
}

.grid-suffix-19 {
  padding-right: 760px;
}

.grid-suffix-20 {
  padding-right: 800px;
}

.grid-suffix-21 {
  padding-right: 840px;
}

.grid-suffix-22 {
  padding-right: 880px;
}

.grid-suffix-23 {
  padding-right: 920px;
}

.grid-push-1 {
  left: 40px;
}

.grid-push-2 {
  left: 80px;
}

.grid-push-3 {
  left: 120px;
}

.grid-push-4 {
  left: 160px;
}

.grid-push-5 {
  left: 200px;
}

.grid-push-6 {
  left: 240px;
}

.grid-push-7 {
  left: 280px;
}

.grid-push-8 {
  left: 320px;
}

.grid-push-9 {
  left: 360px;
}

.grid-push-10 {
  left: 400px;
}

.grid-push-11 {
  left: 440px;
}

.grid-push-12 {
  left: 480px;
}

.grid-push-13 {
  left: 520px;
}

.grid-push-14 {
  left: 560px;
}

.grid-push-15 {
  left: 600px;
}

.grid-push-16 {
  left: 640px;
}

.grid-push-17 {
  left: 680px;
}

.grid-push-18 {
  left: 720px;
}

.grid-push-19 {
  left: 760px;
}

.grid-push-20 {
  left: 800px;
}

.grid-push-21 {
  left: 840px;
}

.grid-push-22 {
  left: 880px;
}

.grid-push-23 {
  left: 920px;
}

.grid-pull-1 {
  left: -40px;
}

.grid-pull-2 {
  left: -80px;
}

.grid-pull-3 {
  left: -120px;
}

.grid-pull-4 {
  left: -160px;
}

.grid-pull-5 {
  left: -200px;
}

.grid-pull-6 {
  left: -240px;
}

.grid-pull-7 {
  left: -280px;
}

.grid-pull-8 {
  left: -320px;
}

.grid-pull-9 {
  left: -360px;
}

.grid-pull-10 {
  left: -400px;
}

.grid-pull-11 {
  left: -440px;
}

.grid-pull-12 {
  left: -480px;
}

.grid-pull-13 {
  left: -520px;
}

.grid-pull-14 {
  left: -560px;
}

.grid-pull-15 {
  left: -600px;
}

.grid-pull-16 {
  left: -640px;
}

.grid-pull-17 {
  left: -680px;
}

.grid-pull-18 {
  left: -720px;
}

.grid-pull-19 {
  left: -760px;
}

.grid-pull-20 {
  left: -800px;
}

.grid-pull-21 {
  left: -840px;
}

.grid-pull-22 {
  left: -880px;
}

.grid-pull-23 {
  left: -920px;
}

body {
  background: white;
  padding-top: 40px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  color: #444444;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 14px;
}
p:last-child {
  margin-bottom: 0;
}

@media all and (orientation:portrait) {
  /* Portrait styles */
}

@media all and (orientation:landscape) {
  /* landscape styles */
}

@media screen and (max-device-width: 480px) {
  body {
    padding: 0;
  }

  .container {
    margin: 0;
    padding: 40px 30px;
    padding-top: 150px;
    width: auto;
  }
  .container .content {
    padding: 0;
    width: auto;
  }

  h1 {
    font-size: 180px;
    margin-bottom: 80px;
  }

  ul {
    padding: 40px 0 0 40px;
  }
  ul li {
    font-size: 40px;
  }

  p {
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  p.last {
    position: absolute;
    top: 0;
    left: 0;
    background: green;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 20px 40px;
    text-align: center;
    width: 100%;
  }
  p.last a {
    color: white;
  }
}

.content ul {
  list-style: disc;
  margin-bottom: 15px;
}
.content ul li {
  line-height: 1.5;
}
